GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwFIJVTNzF50zCcv6Ppk2n041_tXHFEWcKM1ouSQsCQ-HzcNUkjUTjNvesNnN_KZ38ovg/exec
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Secure Admin Panel Configuration
ADMIN_EMAIL=admin@fahimshahriar.com
ADMIN_PASSWORD=3778788467
ADMIN_SECRET=fahim-admin-token-secret-key-change-this-in-production-982347

